<form name="reunionComite" class='form-horizontal'>
  <script cam-script type="text/form-script">
    camForm.on('form-loaded', function()
    {<% for(var i=0; i<varsToLoad.length ; i++){%>
      camForm.variableManager.fetchVariable('<%=varsToLoad[i]%>');<%}%>
    });
    camForm.on('variables-restored', function()
    {<% for(var i=0; i<varsToLoad.length ; i++){%>
      $scope.<%=varsToLoad[i]%> = camForm.variableManager.variableValue('<%=varsToLoad[i]%>');<%}%>
    });
    <%
    var j = 0;
    for(var i=0; i<inputs.length ; i++){
         if(inputs[i].type == "date"){
           j++;
          %>
    var dateFieldOpened<%=j%> = false;
    $scope.open<%=j%> = function($event) {
			$event.preventDefault();
			$event.stopPropagation();
			$scope.dateFieldOpened<%=j%> = true;
		};<%}
    }%>

    <%
    for(var i=0; i<inputs.length ; i++){
         if(inputs[i].type == "file" && inputs[i].required){
           j++;
          %>
    var fileUpload<%=inputs[i].name%> = $('#file<%=inputs[i].name%>');
		var fileUploadHelpBlock<%=inputs[i].name%> = $('#help-block<%=inputs[i].name%>', fileUpload<%=inputs[i].name%>.parent());
		function flagFileUpload<%=inputs[i].name%>() {
			var hasFile = fileUpload<%=inputs[i].name%>.get(0).files.length > 0;
			fileUpload<%=inputs[i].name%>[hasFile ? 'removeClass' : 'addClass']('ng-invalid');
			fileUploadHelpBlock<%=inputs[i].name%>[hasFile ? 'removeClass' : 'addClass']('error');
			return hasFile;
		}
		fileUpload<%=inputs[i].name%>.on('change', function () {
			flagFileUpload<%=inputs[i].name%>();
		});
		<%}
    }%>
    camForm.on('submit', function(evt) {<%
    for(var i=0; i<inputs.length ; i++){
         if(inputs[i].type == "file" && inputs[i].required){
          %>
			if(!flagFileUpload<%=inputs[i].name%>()){
			  // prevent submit if user has not provided a file
        evt.submitPrevented = true;
        return;
      }
		<%}
    }%>
      for (var i = 0; i < camForm.fields.length; i++) {
    <%
    for(var i=0; i<inputs.length ; i++){
         if(inputs[i].type == "file" && !inputs[i].required){
          %>
        if (camForm.fields[i].variableName == '<%=inputs[i].name%>') {
          camForm.fields.splice(i, 1);
          camForm.variableManager.destroyVariable('<%=inputs[i].name%>');
        }
		<%}
    }%>
      }
    });
  </script>
  <div class="alert  alert-info">
    <dl class="dl-horizontal">
      <% for(var i=0; i< infos.length ; i++){
      %><dt><%=infos[i]['name']%></dt><dd>{{<%=infos[i]['name']%>}}</dd>
      <%}%>
    </dl>
  </div>
  <% for(var i=0,j=0; i< inputs.length ; i++){ %>
    <div class="form-group">
      <label class='col-lg-4 col-md-6 control-label'><%=inputs[i].label%></label>
      <div class='col-lg-8 col-md-6'><% if(inputs[i].type == "boolean"){%>
        <input class="form-control"
          type="checkbox"
          cam-variable-name="<%=inputs[i].name%>" <% if (inputs[i].required ){%>
          ng-required='true' <% } %>
          cam-variable-type="Boolean" />
        <%}
        else if(inputs[i].type == "textarea"){%>
        <textarea class="form-control"
          cam-variable-name="<%=inputs[i].name%>"
          cam-variable-type="String" <% if (inputs[i].required ){%>
          ng-required='true' <% } %>
          ></textarea>
        <%}
        else if(inputs[i].type == "text"){%>
        <input class="form-control"
          type="text"
          cam-variable-name="<%=inputs[i].name%>"
          cam-variable-type="String" <% if (inputs[i].required ){%>
          ng-required='true' <% } %>
          />
        <%}
        else if(inputs[i].type == "date"){
          j++;
          %>
        <input class="form-control"
          type="text"
          cam-variable-name="<%=inputs[i].name%>"
          cam-variable-type="Date"
          datepicker-popup="yyyy-MM-dd'T'HH:mm:ss" <% if (inputs[i].required ){%>
          ng-required='true' <% } %>
          is-open="dateFieldOpened<%=j%>" />
        <span class="input-group-btn">
          <button type="button"
          class="btn btn-default"
          ng-click="open<%=j%>($event)">
          <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
        <%}
        else if(inputs[i].type == "number"){
          %>
        <input class="form-control"
          type="number"
          cam-variable-name="<%=inputs[i].name%>"
          cam-variable-type="Integer" <% if (inputs[i].required ){%>
          ng-required='true' <% } %>/>
        <%}
        else if(inputs[i].type == "file"){
          %>
        <input class="form-control" type="file"
          id='file<%=inputs[i].name%>'
          cam-variable-name="<%=inputs[i].name%>"
          cam-variable-type="File"
          cam-max-filesize="10000000" />
        <% if (inputs[i].required ){%><div id="help-block<%=inputs[i].name%>">Doc required</div><%}%>
        <%}
        else if(inputs[i].type == "list" || inputs[i].type == "simple_list" ){%>
        <select class="form-control"
            cam-variable-name="<%=inputs[i].name%>" <% if (inputs[i].required ){%>
            ng-required='true' <% } %>
            cam-variable-type="String" cam-choices="<%=inputs[i].list%>" >
        </select>
        <%}
        else if(inputs[i].type == "users"){%>
        <select class="form-control" <% if (inputs[i].required ){%>
          ng-required='true' <% } %>
            cam-variable-name="<%=inputs[i].name%>"
            cam-variable-type="String" >
          <option ng-repeat="(key,val) in <%=inputs[i].list%>" value="{{key}}">{{val}}</option>
        </select>
        <%}%></div>
    </div>
  <%}%>
</form>
